@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');

.icon-bar {
    position: fixed;
    top: 65%;
    -webkit-transform: translateY(-65%);
    -ms-transform: translateY(-65%);
    transform: translateY(-65%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
    
  .linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #7a1288;
    color: white;
  }
  
  .content {
    margin-left: 75px;
    font-size: 20px;
  }

  .credentials {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20px;
  }

  .profilePic {
    position: absolute;
    right: 20px;
    top: 20px;
    max-width: 15%;
  }

  .pmquote {
    position: absolute;
    text-align: center;
    font-family: cursive;
    font-size: 2vw;
    top: 150px;
    margin-left: 400px;
    color: black;
    font-family: 'Montez', cursive, sans-serif;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  html {
    box-sizing: border-box;
  }

  body{
    margin: 0;
    min-height: 100vh;
    background-color: #ffffff;
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
  }

  .quote-container{
      width: auto;
      max-width: 900px;
      padding: 20px 30px;
      border-radius: 10px;
      background-color: lightgray;
      box-shadow: 5px 10px 10px  grey;
  }

  .quote-text {
    font-size: 2.75rem;
  }

  .long-quote{
    font-size: 2rem;
  }

  .fa-quote-left{
    font-size: 4rem;
  }

  .quote-author{
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
  }

  /* Media Query: Tablet or Smaller*/
  @media screen and (max-width: 1000px){
    .quote-container{
      margin: auto 10px;
    }

    .quote-text {
      font-size: 2.5rem;
    }
  
  }