.icon-bar {
    position: fixed;
    top: 40%;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
    
  .linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .content {
    margin-left: 75px;
    font-size: 20px;
  }

  .credentials {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 20px;
  }